.body{
    background-color: black;
   
    
}
nav{
  
  background-color: rgba(0, 0, 0, 0.3); /* Use rgba to set a transparent background color */
  z-index: 1000; /* Set a high z-index to ensure it's above other content */
}

.header{
    font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.arjun{
    font-family: 'brush script std';
    font-size: 35px;
} 
.bg-images1{

    position: relative;
}
.bg-images2{
      
      height: 500px;
      position: relative;
}
.about-section{
    //background-image: url(images/aboutbg.jpg);
   
    width: 100%;
    
    
}
.about-me{
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    
}
.aboutimg{
    width: 95%;
    height: 500px;
    position: relative;
}
.about{
    font-size: 34px;
    font-family: felix titling;

}
.curiosity{
    color: white;
    font-size: 34px;
    font-family: felix titling;

    text-align: center;
    //background-image: url(images/aboutbg.jpg);
   width: 100%;
   
   
}
.skill-badge {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(153, 82, 82, 0.1);
  transition: 0.3s ease-out;
  border: 2px solid transparent;
  margin-bottom: 0;
}
.curio{
    font-size: 35px;
}
.card{
    height: 350px;
    cursor: pointer;
    
}
.card-img-top{
    height: 300px;
    width: 400px;
    cursor: pointer;
   
}
.contactme{
   // background-image: url(images/bg2.jpg);
    color: white;
}
.con{
    font-size: 34px;
    font-family: felix titling;
}
.btn{
    
    width: 50%;
    
    margin-left: 115px;
}




.contactname{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-github {
    padding-left: 1em;
    background: rgba(58, 57, 57, 0);
    color: white;
  }
  
  .fa-twitter {
    padding-left: 1em;
    background: #55ACEE;
    color: white;
  }
  
  .fa-envelope {
    padding-left: 1em;
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    padding-left: 1em;
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    padding-left: 1em;
    background: #125688;
    color: white;
  }
  
  .social-icons {
    font-size: 2em;
}

.social-icons a {
    color: #333;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #3498db;
}

